.footer{
    background-color: #663399;
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;    
}
.footer>div>h6{
    font-size: 2rem;
    text-align: center;
}
.footer>div>ul{
    gap: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;    
}